body {
  text-align: center;
  background-image: url("http://www.walldevil.com/wallpapers/a79/5035-wallpaper-cool-postcard-background-desktop-design-media.jpg");
  font-family: apple-chancery;
  align-items: center;
}
td {
  border: solid blue;
  height:100px;
}
#pika {
	height: 300px;
	width: 200px;
}
.choice {
	height:100px;
	width:100px;
}
p {
	color: red;
}
h1 {
	text-shadow: 2px 2px 10px #FF0000;
	color: yellow;
}
a {
 color: red;
}
td {
	height: 100px;
}
#second {
	display: none;
}